<div class="pagination">
  <% page = params[:page].to_i > 0 ? params[:page].to_i : 1 %>  <!-- Handle page fallback -->
  
  <% if page > 1 %>
    <%= link_to "Previous", topic_path(@topic, page: page - 1), class: "prev" %>
  <% end %>

  Page <%= page %> of <%= @total_pages %>

  <% if page < @total_pages %>
    <%= link_to "Next", topic_path(@topic, page: page + 1), class: "next" %>
  <% end %>
</div>
