<% page = (page_param.to_i > 0 ? page_param.to_i : 1) %>

<div class="pagination">
  <% if page > 1 %>
    <%= link_to "<<", path.call(page: page - 1), class: "prev" %>
  <% end %>

  Page <%= page %> of <%= total_pages %>

  <% if page < total_pages %>
    <%= link_to ">>", path.call(page: page + 1), class: "next" %>
  <% end %>
</div>
