<div class="window active" style="max-width: <%= yield :window_max_width %>">
  <div class="title-bar">
    <div class="title-bar-text"><%= yield :window_title %></div>
    <div class="title-bar-controls">
      <button aria-label="Minimize"></button>
      <button aria-label="Maximize"></button>
      <button aria-label="Close"></button>
    </div>
  </div>
  <div class="window-body has-space">
    <%= yield :window_content %>
  </div>
</div>
