@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Neue", sans-serif !important;
}
h1 {
  font-size: 1.5rem;
}
/* END RESETS */

:root {
  --primary: #b61f30ff;
  --alt-1: #4d90b4ff;
  --alt-2: #a5a0feff;
  --accent: #ffc547ff;
  --black: #231e2cff;
  --gray: #bbb;
  --bottom-background: #cd5c08;
  --background: #f6fcfedb;

  --primary-radius: 1rem;
}

.background {
  position: fixed;
  inset: 0;
  object-fit: cover;
}

body {
  color: var(--black);
  padding: 1rem;
}

a {
  color: var(--black);
  font-weight: bold;
}

main {
  position: relative;
  padding: 0.5rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.5);
  background-color: var(--background);
  z-index: 2;
  padding-bottom: 5rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.button,
button,
input[type="submit"] {
  background-color: var(--primary);
  font-weight: bold;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: var(--primary-radius);
  width: auto;
}

input,
select {
  border: 2px solid var(--gray);
  border-radius: var(--primary-radius);
  padding: 0.25rem;
  width: 100%;
  background-color: transparent;
  outline: none;
}

.root-link {
  /* text gradient */
  background: linear-gradient(90deg, var(--primary), var(--primary));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.8rem;
}

.date {
  font-size: 0.8rem;
  color: var(--black);
  font-style: italic;
}

.replies {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  border: 2px solid var(--gray);
  border-radius: var(--primary-radius);
  padding: 0.5rem;
  width: 100%;
}

.reply {
  border-bottom: 2px solid var(--gray);
}

.box {
  display: flex;
  flex-direction: column;
}

.topics {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 0.5rem;
  list-style-type: none;
}

.topics > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem;
  border-bottom: 2px solid var(--gray);
  border-radius: var(--primary-radius);
}

.topics .topic {
  border: 2px solid var(--gray);
  border-radius: var(--primary-radius);
}

.title {
  font-size: 1em;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topics .topic .title h3 {
  color: var(--alt-1);
}

.topics .posts {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.topics .posts .post {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border: 2px solid var(--gray);
  border-radius: var(--primary-radius);
}

.author {
  font-weight: bold;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.pagination a {
  color: var(--alt-2);
  font-weight: bold;
  text-decoration: none;
}

.errors {
  list-style: none;
  color: red;
}

hr {
  border: 1px solid var(--gray);
  margin: 1rem 0;
}

.label {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: lowercase;
  letter-spacing: 0.1em;
  background-color: var(--alt-2);
  padding: 0.25rem;
  color: white;
  width: fit-content;
  border-radius: var(--primary-radius);
}

.reply-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  border: 2px solid var(--gray);
  border-top-left-radius: var(--primary-radius);
  border-top-right-radius: var(--primary-radius);
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--background);
  transform: translateY(0);
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.slide-up {
  animation: slide-up 0.5s ease-in-out;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.reply-form.hidden {
  transform: translateY(100%);
}

.reply-form input[type="submit"] {
  align-self: flex-end;
  width: auto;
}

trix-editor {
  border: 2px solid var(--gray);
  border-radius: var(--primary-radius);
  border-radius: var(--primary-radius);
  padding: 0.5rem !important;
}

.trix-button {
  border: none !important;
  border-radius: 0 !important;
  background-color: var(--accent) !important;
  color: white !important;
}

.trix-button[data-trix-active] {
  background-color: var(--alt-2) !important;
}

trix-toolbar .trix-button-group {
  border: none;
  display: flex;
  gap: 0.5rem;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.post-content {
  border: 2px solid var(--gray);
  border-radius: var(--primary-radius);
  padding: 0.5rem;
  width: 100%;
}

.notice {
  background-color: var(--alt-2);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0.5rem;
  animation: appear 0.5s ease-in-out, disappear 1s 3.5s forwards; /* The disappear animation starts after 4.5s */
  box-shadow: 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.5);
}

@keyframes appear {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-100%); /* Moves it off the screen */
  }
}
