:root {
  --primary: #d60000;
  --secondary: #fffb24;
  --background: #f8f9fa;
  --background-dark: #343a40;
  --background-light: #f8f9fa;
  --divider: #1074cb;
  --shadow: none;
  --black: #000000;

  --border-radius: 0rem;
  --border-width: 1px;
  --font: Calibri, sans-serif;
  --font-scale: 1;
}

*,
body {
  font-family: var(--font);
  letter-spacing: 0.01rem;
}

.cta {
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  padding: 0.25rem;
  box-shadow: var(--shadow);
  width: auto;
  cursor: pointer;
}

.cta-secondary {
  background-color: var(--secondary);
  color: var(--background-dark);
  border: none;
  border-radius: var(--border-radius);
  padding: 0.25rem;
  box-shadow: var(--shadow);
  width: auto;
  cursor: pointer;
}

input:not([type="color"]):not([type="checkbox"]):not([type="radio"]):not(
    [type="submit"]
  ),
select,
textarea {
  border: 1px solid var(--divider);
  border-radius: var(--border-radius);
  padding: 0.25rem;
  box-shadow: var(--shadow);
  cursor: pointer;
  outline: none;
  width: 100%;
}

trix-editor {
  border: 1px solid var(--divider);
  border-radius: var(--border-radius);
  padding: 0.25rem;
  box-shadow: var(--shadow);
}