<h1>User's profile</h1>

<%= form_with(model: current_user&.personalization_data) do |form| %>
  <div>
    <%= form.label :color, style: "display: block" %>
    <%= form.text_field :color, type: 'color' %>
    <%= form.submit %>
  </div>
<% end %>
